:root {
	--ext_primary: #1e1e1e;
	--ext_secondary: #262626;
	--ext_thirdary: #2e2e2e;
	--ext_fourthary: #363636;
}

.wrapper {
	background-color: var(--ext_primary) !important;
	color: rgba(255,255,255,0.7) !important;
}

.inner {
	background-color: var(--ext_secondary) !important;
	border-radius: 8px !important;
	border: 1px solid var(--ext_thirdary) !important;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
    -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
    color: rgba(255,255,255,0.7) !important;
}

.homepage-wrapper .header-title-block {
	border-bottom: 1px solid var(--ext_thirdary) !important;
    color: #97b5e9 !important;
}

.homepage-wrapper .part-homeworks .homeworks-content .count-holder.items {
	background: var(--ext_thirdary) !important;
	border-radius: 8px !important;
}

.homepage-wrapper .rating-blocks .ratings .inner.rating-details .part-details {
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
}

.homepage-wrapper .header-title-block .group-flow .active {
	color: #d3d6db !important;
    border-bottom: 1px solid #d3d6db !important;
}

.navbar {
	background: var(--ext_secondary) !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0) !important;
	color: rgba(255,255,255,0.7) !important;
}

.right-block .align-self-end:hover .img-logout-block {
    background-color: rgba(255, 255, 255) !important;
}

.wrap-counts {
	background-color: var(--ext_thirdary) !important;
}

.dropdown-menu {
	background-color: var(--ext_thirdary) !important;
	color: rgba(255,255,255,0.7) !important;
}

.right-block .dropdown-langs .open .dropdown-menu .selected-leng {
	color: rgba(255,255,255,0.9) !important;
}

.pos-f-t .right-block .dropdown-langs .dropdown-item:hover {
    color: rgba(255,255,255,0.9) !important;
}

.counts-tooltip .tooltip-inner {
    background-color: var(--ext_thirdary) !important;
    color: rgba(255,255,255, 0.8) !important;
}

.counts-tooltip {
    background: rgba(0,0,0,0) !important;
    background-color: rgba(0,0,0,0) !important;
}

bs-tooltip-container.tooltip.in.tooltip-auto.bs-tooltip-auto.auto.counts-tooltip.show.bottom {
    background: var(--ext_thirdary) !important;
}

.tooltip, .tooltip-achieve { /* ??? */
    background-color: var(--ext_thirdary) !important;
}

body {
	background: var(--ext_primary) !important;
	color: rgba(255,255,255,0.7) !important;
}

.forgot-action {
	color: rgba(255,255,255,0.7) !important;
}

.btn-light {
	color: rgba(255, 255, 255, 0.9) !important;
    background-color: var(--ext_thirdary) !important;
    border-color: #373737 !important;
    border-radius: 8px;
}

.form-control {
	color: rgba(255, 255, 255 ,0.8) !important;
    background-color: var(--ext_thirdary) !important;
    border: 1px solid #373737 !important;
}

.display-2.py-2.text-truncate.m-5 {
    color: rgba(255,255,255,0.9) !important;
}

.schedule-section .item .content-schedule {
	background-color: var(--ext_secondary) !important;
    border-radius: 8px !important;
    border: 1px solid var(--ext_thirdary) !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.schedule-section .item .content-schedule .day-holder .day {
    border: 1px solid var(--ext_thirdary) !important;
}

.schedule-section .item .content-schedule .day-holder .not-days {
    border: 1px solid var(--ext_fourthary) !important;
    background-color: var(--ext_thirdary) !important;
    color: #c1c6d0 !important;
}

.schedule-section .item .content-schedule .day-holder .is-today {
    background-color: var(--ext_fourthary) !important;
    border: 1px solid #4a4a4a !important;
}

.schedule-section .item .content-schedule .day-holder .has-day {
    color: rgba(255,255,255,0.8) !important;
    background-color: #577972 !important;
}

.schedule-section .item .content-schedule .day-holder {
    background-color: rgba(0, 0, 0, 0) !important;
}

.modal-content {
    background-color: var(--ext_secondary) !important;
    border: 1px solid var(--ext_thirdary) !important;
}

.modal .modal-dialog .on-hover {
    background-color: var(--ext_secondary) !important;
    color: rgba(255,255,255,0.8) !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0) !important;
}

.modal .modal-dialog .on-hover .lessons .less-name {
    color: #93a7ca !important;
}

.modal .modal-dialog .on-hover .lessons span {
    color: #5b6375 !important;
}

.progress-section .item .content-progress {
    background-color: var(--ext_secondary) !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
	border: 1px solid var(--ext_thirdary) !important;
}

.progress-section .item .main-block .block-day .all-less .lessons {
    background-color: var(--ext_thirdary) !important;
    border-radius: 8px !important;
    border: 1px solid var(--ext_fourthary) !important;
}

.progress-section .item .main-block .block-day .date {
    color: #8ca0c3 !important;
}

.progress-section .item .main-block .block-day .all-less .lessons .rating .kr {
    background: #608966 !important;
}

.progress-section .item .content-progress .header {
    border-bottom: 1px solid var(--ext_thirdary) !important;
	color: #8198c1 !important;
}

.progress-section .item .content-progress .select .ng-select .ng-select-container .ng-value-container {
    background-color: var(--ext_fourthary) !important;
    border: 1px solid #434242 !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.progress-section .item .content-progress .select .ng-select .ng-dropdown-panel {
    background: var(--ext_fourthary) !important;
    border: 1px solid #434242 !important;
    border-radius: 8px !important;
}

.progress-section .item .content-progress .select .ng-select .ng-dropdown-panel .scroll-host .ng-option:hover {
    background: #434242 !important;
}

.progress-section .item .content-progress .description {
    border-bottom: 1px solid var(--ext_thirdary) !important;
}

.homeworks-section .item-homework .item-container .item .item-header {
    background-color: var(--ext_thirdary) !important;
    border-radius: 8px 8px 0px 0px !important;
}

.homeworks-section .item-homework .item-container .item.status3 .item-image {
    background: url(/assets/images/file.png?v=1623c36…) var(--ext_thirdary) center center no-repeat;
}

.homeworks-section .item-homework .item-container .item-footer {
    border-radius: 0px 0px 8px 8px !important;
}

.homeworks-navigation .ng-select .ng-select-container .ng-value-container {
    background-color: var(--ext_thirdary) !important;
    border: 1px solid var(--ext_fourthary) !important;
    color: rgba(255, 255, 255, 0.8) !important;
}

.homeworks-navigation .ng-select .ng-dropdown-panel {
    background: var(--ext_thirdary) !important;
    border-radius: 8px !important;
    border: 1px solid var(--ext_fourthary) !important;
}

.homeworks-navigation .ng-select .ng-dropdown-panel .scroll-host .ng-option:hover {
    background: var(--ext_fourthary) !important;
}

.homeworks-section .item-homework .item-container .item .item-header .info-content {
    background: var(--ext_fourthary) !important;
    border-radius: 8px !important;
}

.homeworks-section .item-homework .item-container .item .item-header .info-content .header-info {
    color: #abbcdb !important;
    border-bottom: 1px solid #434242 !important;
}

.homeworks-section .item-homework .item-container .item .item-header .info-content p {
    color: #737e93 !important;
}

.homeworks-section .item-homework .item-container .item.status2 .item-footer {
    background-color: #c7a449 !important;
}

.homeworks-section .item-homework .item-container .item {
    background-color: var(--ext_thirdary) !important;
    border-radius: 8px !important;
}

.text-homework-wrap .center, .text-homework-answer-wrap .center {
    border: 1px dashed var(--ext_thirdary) !important;
    border-radius: 8px !important;
}

.text-homework-wrap .text-homework-field-wrap, .text-homework-answer-wrap .text-homework-field-wrap {
    padding: 8px !important;
    border: 1px solid var(--ext_thirdary) !important;
    border-radius: 8px !important;
}

.text-homework-wrap .text-homework-time-spent-wrap, .text-homework-answer-wrap .text-homework-time-spent-wrap {
    border: 1px solid var(--ext_thirdary) !important;
    border-radius: 8px !important;
    padding-left: 8px !important;
}

.text-homework-wrap .text-homework-time-spent input, .text-homework-answer-wrap .text-homework-time-spent input {
    background: var(--ext_secondary) !important;
}

.text-homework-wrap .evaluation-feedback-wrap .evaluation-tags-item, .text-homework-answer-wrap .evaluation-feedback-wrap .evaluation-tags-item {
    border: 1px solid var(--ext_fourthary) !important;
    color: #168daf !important;
    background: var(--ext_thirdary) !important;
}

.text-homework-wrap .evaluation-feedback-wrap .want-review-toggle, .text-homework-answer-wrap .evaluation-feedback-wrap .want-review-toggle {
    border: 1px solid var(--ext_fourthary) !important;
    padding: 2px 7px !important;
    border-radius: 8px !important;
    background: var(--ext_thirdary) !important;
    font-weight: 100 !important;
}

.text-homework-wrap .buttons-wrap .btn-decline, .text-homework-answer-wrap .buttons-wrap .btn-decline {
    background: var(--ext_fourthary) !important;
    border-radius: 8px !important;
}

.text-homework-wrap .buttons-wrap .btn-accept, .text-homework-answer-wrap .buttons-wrap .btn-accept {
    border-radius: 8px !important;
}

.text-homework-wrap .center h6, .text-homework-answer-wrap .center h6 {
    color: rgba(255, 255, 255, 0.8) !important;
}

.text-homework-wrap .center .file-drop-description, .text-homework-answer-wrap .center .file-drop-description {
    color: #3d97c9 !important;
}

.text-homework-wrap .evaluation-feedback-wrap .evaluation-tags-item.active, .text-homework-answer-wrap .evaluation-feedback-wrap .evaluation-tags-item.active {
    background: #cee5f0 !important;
}

.lessons-block {
	background-color: var(--ext_secondary) !important;
}

.full-lesson-theme {
	background-color: var(--ext_secondary) !important;
}

.big-news-container {
	background-color: : var(--ext_secondary) !important;
}

.news-container {
	background: var(--ext_secondary) !important;
}

.content-awards {
	background: var(--ext_secondary) !important;
}

.feedback-col {
	background: var(--ext_secondary) !important;
}

.item .payment-item {
	background: var(--ext_secondary) !important;
}

.progress-block {
	background: var(--ext_secondary) !important;
}

.profile-block {
	background: var(--ext_secondary) !important;
}

.profile-achieve {
	background: var(--ext_secondary) !important;
}

.item .faq-item {
	background: var(--ext_secondary) !important;
}

.panel-heading {
	background: var(--ext_secondary) !important;
}

.panel-body {
	background: var(--ext_secondary) !important;
}

.contacts-block {
	background: var(--ext_secondary) !important;
}

.signal-form-container {
	background: var(--ext_secondary) !important;
}

.signal-list-container {
	background: var(--ext_secondary) !important;
}

.product-block {
	background: var(--ext_secondary) !important;
}
